<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>

<!--
    <main-app></main-app>
-->
<my-list></my-list>
    <script src="/javascripts/app.bundle.js"></script>
  </body>
</html>
